.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    display: flex; // Hiển thị các phần tử con theo chiều ngang
}

.content {
    flex: 1; // Vì sidebar chiếm 356px nên flex: 1 sẽ chiếm hết phần còn lại
}
